<!-- Page-->
<div class="page text-center">
  <!-- Page Content-->
  <main class="page-content section-98 section-sm-top-85 section-sm-bottom-200">
    <!--services-->
    <section>
      <div class="shell">
        <div class="isotope-wrap">
          <div class="row">
            <!-- Isotope Filters-->
            <div class="col-md-3">
              <div class="isotope-filters isotope-filters-vertical">
                <h4 class="text-uppercase isotope-filters-title offset-top-34"> </h4>
                <ul class="list-inline list-inline-sm">
                  <li class="veil-md">
                    <p>Sujet</p>
                  </li>
                  <li class="section-relative">
                    <button data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true" class="isotope-filters-toggle btn btn-sm btn-default">Filter<span class="caret"></span></button>
                    <ul id="isotope-1" class="list-sm-inline isotope-filters-list">
                      <li><a data-isotope-filter="Dental Implants" data-isotope-group="gallery" href="#">DPC dentistes</a></li>
                      <li><a data-isotope-filter="Cosmetic Dentistry" data-isotope-group="gallery" href="#">DPC infirmiers</a></li>
                      <li><a data-isotope-filter="General Dentistry" data-isotope-group="gallery" href="#" class="active">Prévention</a></li>
                      <li><a data-isotope-filter="Teeth Whitening" data-isotope-group="gallery" href="#">Pédagogie</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Isotope Content-->
            <div class="col-md-9 offset-md-top-0 offset-top-34">
              <div data-isotope-layout="fitRows" data-isotope-group="gallery" class="isotope">
                <div data-photo-swipe-gallery="gallery" class="row text-sm-left">
                  <div data-filter="Dental Implants" class="col-md-12 isotope-item">
                    <h2>DPC des chirurgiens-dentistes et de leurs assistants dentaires</h2>
                    <hr class="divider divider-lg hr-sm-left-2 bg-secondary">
                    <div class="offset-top-60"><%= image_tag "http://res.cloudinary.com/dz83jh064/image/upload/c_thumb,h_440,w_870/v1520326539/ATELIER_EDUCATIONNEL_ACCOMPAGNANTS_3_mj5psd.jpg", width:'870', height:'440', alt:"", class:'img-responsive' %>
                      <div class="offset-top-30">
                        <p>HANDIDENT est un acteur de la formation continue des chirurgiens-dentistes depuis plus de 10 ans.Les programmes proposés se déclinent en formations présentielles classiques ou sous forme de soirées thématiques adaptées à l'exercice libéral. Elles ont pour but d'aider le praticien et son assistant(e) dans leur pratique quotidienne en leur donnant des outils pour mieux accueillir la personne en difficulté d'accès face aux soins buccodentaires. HANDIDENT favorise les échanges pluridisciplinaires par la rencontre et l'échange avec les professionnels de santé qui accompagnent les personnes en situation de handicap.</p>
                        <main class="page-content section-98 section-sm-110">
                          <!--Tables-->
                          <section class="text-sm-left">
                            <div class="shell">
                              <div class="range range-xs-center ">
                                <div >
                                  <!-- Hover Row Table-->
                                  <h3>Les prochaines dates</h3>
                                  <div class="offset-top-10">
                                    <hr class="text-subline">
                                  </div>
                                  <div class="offset-top-14">
                                    <!-- Classic Responsive Table-->
                                    <table data-responsive="true" class="table table-custom table-fixed table-hover-rows">
                                      <tr>
                                        <th>#</th>
                                        <th>Dates</th>
                                        <th>Adresse</th>
                                        <th>Thème</th>
                                      </tr>

                                        <tr onclick="document.location='formation1'">
                                          <td>1</td>
                                          <td>01.02.2017</td>
                                          <td>50 avenue de Lille 59000 Lille</td>
                                          <td>Sed maximus, nunc non posuere consequat</td>
                                        </tr>

                                      <tr>
                                        <td>2</td>
                                        <td>01.02.2017</td>
                                        <td>19 rue princesse 59000 Villeneuve d'Ascq</td>
                                        <td>Proin hendrerit velit quis augue mattis, sit amet fringilla orci congue. </td>
                                      </tr>
                                      <tr>
                                        <td>3</td>
                                        <td>01.02.2017</td>
                                        <td>50 avenue de Lille 59000 Lille</td>
                                        <td>Sed maximus, nunc non posuere consequat</td>
                                      </tr>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </main>
                      </div>
                      <div class="offset-top-30"><%= link_to 'Nous contacter', contacts_path, class:"btn btn-ellipse btn-primary btn-fullwidth" %></div>
                    </div>
                  </div>
                  <div data-filter="Cosmetic Dentistry" class="col-md-12 isotope-item">
                    <h2>DPC des infirmiers et du secteur médico-social</h2>
                    <hr class="divider divider-lg hr-sm-left-2 bg-secondary">
                    <div class="offset-top-60"><%= image_tag "http://res.cloudinary.com/dz83jh064/image/upload/c_thumb,h_440,w_870/v1519209429/IMG_1177_qtiqfd.jpg", width:'870', height:'440', alt:"", class:'img-responsive' %>
                      <div class="offset-top-30">
                        <p>HANDIDENT forme les aidants professionnels à l'instauration d'une bonne hygiène buccodentaire et à l'accompagnement des personnes en situation de handicap dans leurs parcours de santé buccodentaire. Les formations sont dispensées par un chirurgien-dentiste du réseau formé à  l'accueil des personnes en situation de handicap.</p>
                        <p>Des ateliers pratiques viennent renforcer les notions acquises lors de la formation théorique. Les formations peuvent regrouper plusieurs structures pour favoriser les échanges et partager les initiatives individuelles.</p>
                        <main class="page-content section-98 section-sm-110">
                          <!--Tables-->
                          <section class="text-sm-left">
                            <div class="shell">
                              <div class="range range-xs-center ">
                                <div >
                                  <!-- Hover Row Table-->
                                  <h3>Les prochaines dates</h3>
                                  <div class="offset-top-10">
                                    <hr class="text-subline">
                                  </div>
                                  <div class="offset-top-14">
                                    <!-- Classic Responsive Table-->
                                    <table data-responsive="true" class="table table-custom table-fixed table-hover-rows">
                                      <tr>
                                        <th>#</th>
                                        <th>Dates</th>
                                        <th>Adresse</th>
                                        <th>Thème</th>
                                      </tr>
                                      <tr>
                                        <td>1</td>
                                        <td>01.02.2017</td>
                                        <td>50 avenue de Lille 59000 Lille</td>
                                        <td>Sed maximus, nunc non posuere consequat</td>
                                      </tr>
                                      <tr>
                                        <td>2</td>
                                        <td>01.02.2017</td>
                                        <td>19 rue princesse 59000 Villeneuve d'Ascq</td>
                                        <td>Proin hendrerit velit quis augue mattis, sit amet fringilla orci congue. </td>
                                      </tr>
                                      <tr>
                                        <td>3</td>
                                        <td>01.02.2017</td>
                                        <td>50 avenue de Lille 59000 Lille</td>
                                        <td>Sed maximus, nunc non posuere consequat</td>
                                      </tr>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </main>
                      </div>
                      <div class="offset-top-30"><%= link_to 'Nous contacter', contacts_path, class:"btn btn-ellipse btn-primary btn-fullwidth" %></div>
                    </div>
                  </div>
                  <div data-filter="General Dentistry" class="col-md-12 isotope-item">
                    <h2>Actions de prévention</h2>
                    <hr class="divider divider-lg hr-sm-left-2 bg-secondary">
                    <div class="offset-top-60"><%= image_tag "http://res.cloudinary.com/dz83jh064/image/upload/c_thumb,h_440,w_870/v1519210002/IMG_1043_2_tzlrxl.jpg", width:'870', height:'440', alt:"", class:'img-responsive' %>
                      <div class="offset-top-30">
                        <h3>Information au public</h3>
                        <p>HANDIDENT participe à diverses actions de promotion de la santé. On peut solliciter l'association et les acteurs du réseau pour :</p>
                        <ul class="list-marked list">
                          <li>témoigner de l'expérience du réseau</li>
                          <li>rencontrer les personnes en situation de handicap et leurs aidants</li>
                          <li>promouvoir les outils d'hygiène buccodentaire</li>
                        </ul>
                        <p>Et bien d'autres actions que vous pourrez nous proposer !</p>
                        <h3>Dépistage</h3>
                        <p>Le dépistage des personnes en situation de handicap:<br/>Un chirurgien-dentiste du réseau HANDIDENT se déplace dans les établissements et services du secteur médico-social signataires de la charte  HANDIDENT, pour évaluer les besoins en hygiène et en soins buccodentaires des personnes en situation de handicap accompagnées.  Pour certains, c'est la première rencontre avec un chirurgien-dentiste. Il s'agit d'initier le suivi buccodentaire par une visite annuelle chez le chirurgien-dentiste.</p>
                        <h3>Ateliers éducationnels</h3>
                        <p>Ateliers éducationnels pour personnes en situation de handicap<br/>Un chirurgien-dentiste  du réseau se déplace dans les établissements et services du secteur médico-social signataires de la charte  HANDIDENT pour co-animer un atelier éducationnel  destiné aux usagers et à leurs familles. Ils sont un espace et un temps  privilégiés afin d'adapter les gestes d'hygiène buccodentaire aux difficultés de chaque personne.</p>
                        <div class="offset-top-30"><%= link_to 'Nous contacter', contacts_path, class:"btn btn-ellipse btn-primary btn-fullwidth" %></div>
                      </div>
                    </div>
                  </div>
                  <div data-filter="Teeth Whitening" class="col-md-12 isotope-item">
                    <h2>Outils pédagogiques</h2>
                    <hr class="divider divider-lg hr-sm-left-2 bg-secondary">
                    <div class="offset-top-60"><%= image_tag "http://res.cloudinary.com/dz83jh064/image/upload/c_thumb,h_440,w_870/v1519209505/20151119_102829_s8dwsd.jpg", width:'870', height:'440', alt:"", class:'img-responsive' %>
                      <div class="offset-top-30">
                        <p>Our teeth whitening services are different from those of other clinics in:</p>
                        <ul class="list-marked list">
                          <li>Professional Whitening Systems Usage</li>
                          <li>Affordable Price</li>
                          <li>Dedication of our Dentists</li>
                          <li>Almost no Side Effects</li>
                          <li>Guaranteed Result</li>
                          <li>Perfect Smile</li>
                          <li>Various Whitening Products</li>
                          <li>Both In-Office and Over-The-Counter Whitening</li>
                          <li>Long-Lasting Effect</li>
                        </ul>
                      </div>
                      <div class="offset-top-30"><%= link_to 'Nous contacter', contacts_path, class:"btn btn-ellipse btn-primary btn-fullwidth" %></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
