
<!-- Page-->
<div class="page text-center">
  <!-- faire un don-->
  <!-- entreprise partenaires-->
  <!-- Page-->
  <main class="page-content section-98 section-sm-110">
    <!-- Buttons-->
    <!-- Masonry gallery-->
    <section class="section-98 section-sm-110" style="padding-top: 0px;">
      <div class="shell">
        <div class="isotope-wrap">
          <div class="row">
            <!-- Isotope Content-->
            <div class="col-lg-12 offset-top-34">
              <div data-isotope-layout="masonry" data-isotope-group="gallery" class="isotope">
                <div data-photo-swipe-gallery="gallery" class="row">
                  <div  class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a href="https://www.ars.sante.fr/" target="_blank">
                      <figure><%= image_tag "gallery/Partnership_ars-643x390.jpg", width:"322", height:"195", alt:"" %>
                      </figure></a>
                  </div>
                  <div  class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a href="https://www.ameli.fr/" target="_blank">
                      <figure><%= image_tag "gallery/Partnership_cpam-689x315.jpg", width:"345", height:"158", alt:"" %>
                      </figure></a>
                  </div>
                  <div  class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a href="https://www.pierre-fabre.com/fr" target="_blank">
                      <figure><%= image_tag "gallery/Partnership_Pierre_Fabre-425x296.jpg", width:"425", height:"296", alt:"" %>
                      </figure></a>
                  </div>
                  <div  class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a href="http://www.nord-pas-de-calais.unapei.org/L-Urapei-Nord-Pas-de-Calaisg" target="_blank">
                      <figure><%= image_tag "gallery/Partnership_urapei-720×240.jpg", width:"360", height:"120", alt:"" %>
                      </figure></a>
                  </div>
                  <div  class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a href="http://www.trisomie21-france.org" target="_blank">
                      <figure><%= image_tag "gallery/Partnership_T21somie-1606×640.jpg", width:"402", height:"160", alt:"" %>
                      </figure></a>
                  </div>
                  <div  class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a href="http://chbd59.blogspot.lu/" target="_blank">
                      <figure><%= image_tag "gallery/Partnership_chbd-240×156.jpg", width:"240", height:"156", alt:"" %>
                      </figure></a>
                  </div>
                  <div  class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a href="https://www.apf.asso.fr/" target="_blank">
                      <figure><%= image_tag "gallery/Partnership_APF-300x217.jpg", width:"300", height:"217", alt:"" %>
                      </figure></a>
                  </div>
                  <div  class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a href="http://www.urpsml-hdf.fr" target="_blank">
                      <figure><%= image_tag "gallery/Partnership_URPS-2805×1043.jpg", width:"401", height:"149", alt:"" %>
                      </figure></a>
                  </div>
                  <div  class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a href="http://www.ufsbd.fr/" target="_blank">
                      <figure><%= image_tag "gallery/Partnership_ufsbd-1181×393.jpg", width:"394", height:"131", alt:"" %>
                      </figure></a>
                  </div>
                  <div  class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a href="http://www.ordre-chirurgiens-dentistes.fr" target="_blank">
                      <figure><%= image_tag "gallery/Partnership_oncd-1181×591.jpg", width:"394", height:"197", alt:"" %>
                      </figure></a>
                  </div>
                  <div  class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a href="https://www.visiodent.com/" target="_blank">
                      <figure><%= image_tag "gallery/Partnership_Visiodent-640×480.jpg", width:"427", height:"320", alt:"" %>
                      </figure></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
