<!-- Page-->
<div class="page text-center">
  <!-- Page Content-->
  <main class="page-content section-98 section-sm-top-85 section-sm-bottom-200">
    <!--services-->
    <section>
      <div class="shell">
        <div class="isotope-wrap">
          <div class="row">
            <!-- Isotope Filters-->
            <div class="col-md-3">
              <div class="isotope-filters isotope-filters-vertical">
                <h4 class="text-uppercase isotope-filters-title offset-top-34"> </h4>
                <ul class="list-inline list-inline-sm">
                  <li class="veil-md">
                    <p>Améliorer l'offre de soins</p>
                  </li>
                  <li class="section-relative">
                    <button data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true" class="isotope-filters-toggle btn btn-sm btn-default">Filter<span class="caret"></span></button>
                    <ul id="isotope-1" class="list-sm-inline isotope-filters-list">
                      <li><a data-isotope-filter="Dental Implants" data-isotope-group="gallery" href="#">En ville</a></li>
                      <li><a data-isotope-filter="Cosmetic Dentistry" data-isotope-group="gallery" href="#">En USOS</a></li>
                      <li><a data-isotope-filter="General Dentistry" data-isotope-group="gallery" href="#" class="active">Sous anesthésie</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Isotope Content-->
            <div class="col-md-9 offset-md-top-0 offset-top-34">
              <div data-isotope-layout="fitRows" data-isotope-group="gallery" class="isotope">
                <div data-photo-swipe-gallery="gallery" class="row text-sm-left">
                  <div data-filter="Dental Implants" class="col-md-12 isotope-item">
                    <h2>Les soins en cabinets de ville</h2>
                    <hr class="divider divider-lg hr-sm-left-2 bg-secondary">
                    <div class="offset-top-60"><%= image_tag "http://res.cloudinary.com/dz83jh064/image/upload/c_thumb,h_440,w_870/a_0/v1519209493/20151119_102712_quogi6.jpg", width:'870', height:'440', alt:"", class:'img-responsive' %>
                      <div class="offset-top-30">
                        <p>Ils sont les soins de première intention et le premier recours. Ils permettent à la personne en situation de handicap de se soigner au plus près de son lieu de résidence. En cas de limite ou d'échec, une orientation vers des soins adaptés et différenciés se fera dans le cadre de la coordination du réseau.</p>
                      </div>
                      <div class="offset-top-30"><a><%= link_to 'Voir les cabinets dentiaires libéraux', profiles_path, class: 'btn btn-ellipse btn-primary btn-fullwidth'%></a></div>
                    </div>
                  </div>
                  <div data-filter="Cosmetic Dentistry" class="col-md-12 isotope-item">
                    <h2>Les soins de l'unité de santé Orale Spécifique (USOS)</h2>
                    <hr class="divider divider-lg hr-sm-left-2 bg-secondary">
                    <div class="offset-top-60"><%= image_tag "http://res.cloudinary.com/dz83jh064/image/upload/c_thumb,h_440,w_870/a_0/v1519209491/20151119_102651_yxu9c7.jpg", width:'870', height:'440', alt:"", class:'img-responsive' %>
                      <div class="offset-top-30">
                        <p>C'est le second recours de soins. En effet, lorsqu'il est impossible de procéder aux soins dans un cabinet de ville, la coordination du réseau Handident oriente la personne en besoin de soins vers l'USOS où le chirurgien-dentiste peut utiliser les techniques de sédation consciente comme l'approche cognitivo-comportementale et/ou l'inhalation de gaz MEOPA.</p>
                        <p>L'Unité de Santé Orale Spécifique ou USOS est un plateau technique  ou interviennent des chirurgiens-dentistes libéraux du réseau. L'USOS est la deuxième intention  ou deuxième recours du parcours de soins buccodentaires. Empathie, temps, rappel des règles d’hygiène et soins spécifiques y sont proposés par des professionnels compétents.</p>
                        <p>Cet accompagnement vous est proposé dans les Unités de Santé Orales Spécifiques quand le soin est impossible dans le cabinet dentaire de proximité. Les USOS s'inscrivent dans un parcours de soins individualisé parfois un recours aux soins sous anesthésie général peut être proposer en dernier recours.</p>
                        <p>Quatre Unités de Santé Orale Spécifiques ou USOS sont présentes dans les Haut-de-France, Celle de Boulogne-sur-Mer, de Dunkerque, du Hainaut et de la métropole lilloise. Vous pourrez trouver leurs adresse et numéros de téléphone ci-dessous, ou en cliquant sur l'une des quatre images plus haut.</p>
                        <main class="page-content section-98 section-sm-110">
                          <!--Tables-->
                          <section class="text-sm-left">
                            <div class="shell">
                              <div class="range range-xs-center ">
                                <div >
                                  <!-- Hover Row Table-->
                                  <h3>Les différentes USOS</h3>
                                  <div class="offset-top-10">
                                    <hr class="text-subline">
                                  </div>
                                  <div class="offset-top-14">
                                    <!-- Classic Responsive Table-->
                                    <table data-responsive="true" class="table table-custom table-fixed table-hover-rows">
                                      <tr>
                                        <th>#</th>
                                        <th>Ville</th>
                                        <th>Adresse</th>
                                        <th>Coordonnées</th>
                                      </tr>
                                      <tr>
                                        <td>1</td>
                                        <td>Boulogne-sur-Mer</td>
                                        <td>Allée Jacques Monod 62200 Boulogne-sur-Mer</td>
                                        <td>03.21.99.33.33 / cesd@ch-boulogne.fr </td>
                                      </tr>
                                      <tr>
                                        <td>2</td>
                                        <td>Dunkerque</td>
                                        <td>130 Avenue Louis Herbeaux BP6367 59385 Dunkerque cedex 1</td>
                                        <td>03.28.28.56.10</td>
                                      </tr>
                                      <tr>
                                        <td>3</td>
                                        <td>Maubeuge</td>
                                        <td>13 Boulevard Pasteur BP60249 59607 Maubeuge Cedex</td>
                                        <td>03.27.69.44.51</td>
                                      </tr>
                                      <tr>
                                        <td>4</td>
                                        <td>Villeneuve d'Ascq</td>
                                        <td>10 rue du Petit Boulevard BP20127 59653 Villeneuve d'Ascq Cedex</td>
                                        <td>09.63.23.93.33 / ad.handident@gmail.com</td>
                                      </tr>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </main>
                      </div>
                      <div class="offset-top-30"><a><%= link_to 'Nous contacter', contacts_path, class: 'btn btn-ellipse btn-primary btn-fullwidth'%></a></div>
                    </div>
                  </div>
                  <div data-filter="General Dentistry" class="col-md-12 isotope-item">
                    <h2>Les soins sous anesthésie générale</h2>
                    <hr class="divider divider-lg hr-sm-left-2 bg-secondary">
                    <div class="offset-top-60"><%= image_tag "http://res.cloudinary.com/dz83jh064/image/upload/c_thumb,h_440,w_870/v1520333498/Screen_Shot_2018-03-06_at_11.50.47_AM_uvlxyf.png", width:'870', height:'440', alt:"", class:'img-responsive' %>
                      <div class="offset-top-30">
                        <p>C'est le troisième recours de soins. les patients qui ont besoin de soins sous anesthésie générale sont orientés vers des établissements hospitaliers visibles et lisibles au sein du réseau.</p>
                        <div class="offset-top-30"><a><%= link_to 'Nous contacter', contacts_path, class: 'btn btn-ellipse btn-primary btn-fullwidth'%></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
