<!-- Page-->
<div class="page text-center">
  <!-- Page Content-->
  <main class="page-content section-top-98 section-sm-top-110">
    <!-- Get In Touch-->
    <section>
      <div class="shell">
        <div class="range range-xs-center">
          <div class="cell-sm-9 cell-md-8 cell-lg-12">
            <div class="range">
              <div class="cell-lg-8 text-left">
                <h2>Restons en contact</h2>
                <hr class="divider divider-lg bg-secondary hr-left-0 hr-sm-left-2">
                <div class="offset-top-34">
                  <%= simple_form_for @contact do |f| %>
                    <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" novalidate="novalidate" class="rd-mailform text-left">
                      <div class="range range-xs-center">
                        <div class="cell-sm-6">
                          <div class="form-group form-group-label-outside">
                            <%= f.input :first_name, id:"contacts-first-name",label:"Votre prénom", type:"text", name:"first-name", required: true, class: "form-control form-control-last-child" %>
                          </div>
                          <div class="form-group form-group-label-outside offset-top-20">
                            <%= f.input :email, id:"contacts-email", type:"email", label:"Votre E-mail", name:"email", required: true, class: "form-control form-control-last-child" %>
                          </div>
                        </div>
                        <div class="cell-sm-6 offset-top-20 offset-sm-top-0">
                          <div class="form-group form-group-label-outside">
                            <%= f.input :last_name, id:"contacts-last-name",label:"Votre nom", type:"text", name:"last-name", required: true, class: "form-control form-control-last-child" %>
                          </div>
                          <div class="form-group form-group-label-outside offset-top-20">
                            <%= f.input :phone_number, id:"contacts-phone", type:"text", label:"Votre numéro de téléphone", name:"phone_number", required: true, class: "form-control form-control-last-child" %>
                          </div>
                        </div>
                      </div>
                      <div class="form-group form-group-label-outside offset-top-20">
                        <%= f.input :message, :as => :text, id:"contacts-message",label:"Votre message", name:"message", input_html: {style: 'max-height:1500px;'}, required: true, class: "form-control form-control-last-child" %>
                      </div>
                      <div class="offset-top-18 offset-sm-top-24 text-center text-sm-left">
                        <div class="group-lg offset-top-20 offset-md-top-30">
                          <%= f.button :submit, class:"btn btn-lg btn-ellipse btn-primary", style:"min-width: 130px; font-weight:bold", value:"Envoyer mon message" %>
                          <p><%= link_to 'Annuler', root_path, class: 'btn btn-lg btn-ellipse btn-white', style:"margin-top:20px"%></p>
                        </div>
                      </div>
                    </form>
                  <% end %>
                </div>
              </div>
              <div class="cell-lg-4 text-left offset-top-66 offset-lg-top-0">
                <div class="inset-lg-left-40">
                  <div>
                    <h4>Liens sociaux</h4>
                    <hr class="text-subline">
                      <ul class="list-inline">
                        <li><a href="https://fr-fr.facebook.com/handident/" target="_blank" class="icon fa fa-facebook icon-xxs icon-circle icon-gray-light"></a></li>
                        <li><a href="https://twitter.com/handidentoff" target="_blank" class="icon fa fa-twitter icon-xxs icon-circle icon-gray-light"></a></li>
                        <li><a href="https://www.youtube.com/channel/UCgVsiGM8NqG5VBQ9j_ZBjTQ" target="_blank" class="icon fa fa-google icon-xxs icon-circle icon-gray-light"></a></li>
                      </ul>
                  </div>
                  <div class="offset-top-60">
                    <h4>Adresse</h4>
                    <hr class="text-subline">
                    <div class="offset-top-20">
                      <div class="unit unit-horizontal unit-spacing-xxs p">
                        <div class="unit-left">
                          <div class="icon icon-xxs text-middle mdi mdi-map-marker text-secondary"></div>
                        </div>
                        <div class="unit-body">
                          <p><a class="text-gray-dark" style="text-decoration: none;">10 rue du Petit Boulevard BP 20127<br>59653 Villeneuve d'Ascq Cedex</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="offset-top-60">
                    <h4>Heures d'ouverture</h4>
                    <hr class="text-subline">
                    <div class="offset-top-20">
                      <div class="unit unit-horizontal unit-spacing-xxs p">
                        <div class="unit-left">
                          <div class="icon icon-xxs text-middle mdi mdi-calendar-clock text-secondary"></div>
                        </div>
                        <div class="unit-body">
                          <div class="text-gray-dark">Lun-Ven: 08:00–18:00</div>
                          <div class="text-gray-dark">WE: Fermé</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="offset-top-60">
                    <h4>Téléphone</h4>
                    <hr class="text-subline">
                    <div class="offset-top-20">
                      <div class="unit unit-horizontal unit-spacing-xxs p">
                        <div class="unit-left">
                          <div class="icon icon-xxs text-middle mdi mdi-phone text-secondary"></div>
                        </div>
                        <div class="unit-body"><a class="text-dark reveal-block">+33.3.28.80.7.86</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="offset-top-60">
                    <h4>E-mail</h4>
                    <hr class="text-subline">
                    <div class="offset-top-20">
                      <div class="unit unit-horizontal unit-spacing-xxs p">
                        <div class="unit-left">
                          <div class="icon icon-xxs text-middle mdi mdi-email-outline text-secondary"></div>
                        </div>
                        <div class="unit-body"><a href="mailto:#" class="text-dark">Hello@handident.com</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offset-top-110">
            <!-- RD Google Map-->
    <div id="map" style="width: 100%; height: 400px;"></div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(
          [
            {
              "lat": 50.626831,
              "lng": 3.144445,
              "infowindow": "<p>10 rue du Petit Boulevard, 59653 Villeneuve d'Ascq</p>"
            },
          ]
        );
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      <% end %>
    <% end %>
      </div>
    </section>
  </main>
</div>
